# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Node
node_modules/
.npm/
.pnpm-store/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Dart / Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Env / secrets
.env
.env.*
*.pem
*.key
